*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

  @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
 body{
   font-family: 'Nunito', sans-serif;
   font-size: 16px;
   line-height: 22px;
   color: #222;
 }
 .section_title h2:before{
content: '';
position: absolute;
width: 207px;
height: 0;
background-color: black;
bottom: 0;
left: 50%;
transform: translateX(-50%);
padding-bottom: 3px;
margin-bottom: -8px;

 }
 .section_title h2{
    text-transform: capitalize;
    font-size: 36px;
    position: relative;
    display: inline-block;
 }
 .menus{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
 }
 .menu-column{
  width: 31%;

 }
 .menu-column h4{
  text-transform: capitalize;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px ;
  position: relative;
  padding-bottom: 10px;
 }
 .menu-column h4::before{
  content: '';
  position: absolute;
  width: 140px;
  height: 2px;
  background-color: #222;
  bottom: 0;

 }
 .single-menu img{
  border-radius: 50%;
  max-width: 110px;
  border: 1px solid #ddd;
  padding: 3px;
  margin-right: 15px;
  margin-top: 40px;
   transition:.3s ;
   margin-bottom: 25px;

 }
 .single-menu:hover img{
transform: rotate(360deg);
 }
 .single-menu .menu-content h5{
text-transform: capitalize;
font-size: 22px;
font-weight: 500;
border-bottom: 1px dashed #222;
padding-bottom: 5px;
margin-bottom: 10px;
flex-direction: column;
 }
 
 .single-menu .menu-content h5 span{
  color: tomato;
  float: right;
  font-weight:600 ;
  font-style: italic;
 }

